*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --primary-hue: 55;

    --white-lightness: 96%;
    --light-lightness: 88%;
    --dark-lightness: 36%;
    --black-lightness: 12%;

    --primary-color: hsl(var(--primary-hue), 88%, 42%);

    --white-color: hsl(var(--primary-hue), 5%, var(--white-lightness));
    --light-color: hsl(var(--primary-hue), 5%, var(--light-lightness));
    --dark-color: hsl(var(--primary-hue), 5%, var(--dark-lightness));
    --black-color: hsl(var(--primary-hue), 5%, var(--black-lightness));
    
    --container-width-lg: 80%;
    --container-width-md: 90%;

    --transition: all 500ms ease; 
}

body{
    background-color: var(--black-color);
    color: var(--white-color);
    overflow: hidden;
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

nav{
    background-color: var(--primary-color);
    display: grid;
    place-items: center;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

a{
    color: var(--white-color);
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container ul{
    display: flex;
    gap: 1.2rem;
}

.wrapper{
    margin-top: 5rem;
}

.pdf__viewer{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.payment {
    padding-top: 1rem;
}
.payment h3{
    
    margin-block: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.payment__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.payment__container div{
    padding: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
    transition: var(--transition);
}

.payment__container div:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.payment__accounts{
    margin-top: 2rem;
}

.payment__accounts p{
    margin-block: 1rem;
    text-align: center;
    font-size: 0.9rem;

}

.payment__accounts ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.payment__accounts ul li{
    padding: 1rem;
    padding-block: 1.5rem;
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
    transition: var(--transition);
}